.container-altura {
    min-height: 100vh;
}

/* Estilos do Footer */
.footer {
    padding: 20px 0;
    text-align: center;
}

/* Ajuste no row de ícones */
.footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Garante que não fiquem um abaixo do outro em telas pequenas */
    gap: 15px; /* Espaço entre os ícones */
}

/* Ícones das redes sociais */
.icone-rede {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.icone-rede:hover {
    transform: scale(1.1);
}

.bg-primaria {
    background-color: #05315E;
}
